.footer-wrapper.shop {
  height: 400px;
  width: 100%;
  background-color: $pal-footer-grey;
  margin-top: 20px;
}

.footer.shop {

}

.footer-about-wrapper-shop.shop {

}

.footer-copyright-wrapper {

}
