.inventory-content-outer-wrapper.admin {
  height: 100%;
}

.inventory-content-inner-wrapper.admin {
  height: 100%;
}

.header-wrapper.admin {
  height: 10%;
  width: 100%;
  text-align: center;
}

.h1-wrapper.admin {

}
  h1 {
    margin: 0;
  }

.searchbar-filters-button-wrapper.admin {
  position: relative;
  width: 100%;
}

.searchbar-wrapper.admin {
  display: inline-block;
  height: 100%;
  width: 30%;
  text-align: center;
}

.refresh-button-wrapper.admin {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 26px;
  height: 100%;
  width: 7%;
}

.refresh-table-button.admin {

}
  & > button {
    background-color: $pal-green !important;
  }

.refresh-table-button-icon.admin {
  color: $pal-green;
}
