/node_modules
config
jsconfig.json

.env
.env.default

/dist/admin/admin.js
/dist/driver/driver.js
/dist/shop/shop.js
/dist/admin/admin.js.map
/dist/driver/driver.js.map
/dist/shop/shop.js.map
/dist/images
/dist/shop
/dist/driver/images
/dist/admin/images
/ssl
/ferovino.com
