.profilemenu-wrapper.profilemenu {
  height: 76px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu-wrapper.profilemenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.avatar-wrapper.profilemenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
