.side-nav.admin {
  @include bgGradient( 242, 245, 247, 1, 235, 227, 225, 1);
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 10%;
  z-index: 1;
  box-shadow: 0px 0px 16px -2px black;
  padding-top: 1.5%;
}

.logo.admin {
  display: flex;
  justify-content: center;
  h1 {
    margin: 0;
    font-family: Pacifico, cursive !important;
    color: $pal-red;
    font-size: 200%;
    min-height: 5%;
  }
}
