$pal-black: #414141;
$pal-red: #ef4036;
$pal-supernav-white: #f2f5f7;
$pal-searchbar-grey: #e2e2e2;
$pal-lightgrey: #e8e8e8;
$pal-icon-grey: #7b7b7d;
$pal-green: #17d6b2;
$pal-greenhighlight: #18fbd0;
$pal-footer-grey: #dce1e5;
// black link font on footer
$pal-header-footer-link: #484d56;
// black text font on footer
$pal-header-footer-text: #2a678f;
// black social media icons on footer
$pal-header-footer-icons: #727786;

//Base
@import "./base/reset";
@import "./base/bootstrap";
@import "./base/mixins";
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: "Roboto", sans-serif !important;
}

// SHOP
// Component
@import "../shop/component/App/App.scss";
@import "../shop/component/Cart/Cart.scss";
@import "../shop/component/Checkout/Checkout.scss";
@import "../shop/component/Error/Error.scss";
@import "../shop/component/Home/Home.scss";
@import "../shop/component/Nav/Nav.scss";
@import "../shop/component/Navbar/Navbar.scss";
@import "../shop/component/Shop/Shop.scss";
@import "../shop/component/SuperNav/SuperNav.scss";
@import "../shop/component/WineStoreCard/WineStoreCard.scss";

// SHOP
// Container
@import "../shop/container/AddressIcon/AddressIcon.scss";
@import "../shop/container/AgeVerification/AgeVerification.scss";
@import "../shop/container/SearchBox/SearchBox.scss";
@import "../shop/container/ShopSideBar/ShopSideBar.scss";
@import "../shop/container/SingleWine/SingleWine.scss";
@import "../shop/container/Store/Store.scss";
@import "../shop/container/UserIcon/UserIcon.scss";
@import "../shop/container/WineList/WineList.scss";

// ADMIN
// Component
@import "../admin/component/Customers/Customers.scss";
@import "../admin/component/AdminPanel/AdminPanel.scss";
@import "../admin/component/Dashboard/Dashboard.scss";
@import "../admin/component/Drivers/Drivers.scss";
@import "../admin/component/Inventory/Inventory.scss";
@import "../admin/component/Navbar/Navbar.scss";
@import "../admin/component/Sidebar/Sidebar.scss";

// ADMIN
// Container
@import "../admin/container/DistributorTable/DistributorTable.scss";
@import "../admin/container/ApiWineStage/ApiWineStage.scss";
@import "../admin/container/DriverMap/DriverMap.scss";
@import "../admin/container/Nav/Nav.scss";
@import "../admin/container/ProfileMenu/ProfileMenu.scss";
@import "../admin/container/SearchBar/SearchBar.scss";
@import "../admin/container/SidebarDrawer/SidebarDrawer.scss";
@import "../admin/container/WineList/WineList.scss";

// DRIVER
// Component
@import "../driver/component/Dashboard/Dashboard.scss";
@import "../driver/component/Error/Error.scss";
@import "../driver/component/MapContent/MapContent.scss";
@import "../driver/component/Navbar/Navbar.scss";
@import "../driver/component/OrdersContent/OrdersContent.scss";
@import "../driver/component/QueueContent/QueueContent.scss";

// DRIVER
// Container
@import "../driver/container/Nav/Nav.scss";
@import "../driver/container/Userbar/Userbar.scss";
