.api-wines-stage-wrapper.admin {
  height: 31%;
}

.stage-wine-row-wrapper.admin {
  height: 22%;
  width: 100%;
}

.stage-title-order-button-wrapper.admin {
  display: flex;
  height: 15%;
}
  h1 {
    font-size: 24px;
    margin-left: 1%;
  }

.stage-title.admin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 66%;
}

.stage-clear-button.admin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 17%;
}

.stage-order-button.admin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 17%;
}

.stage-list-wrapper.admin {
  background-color: #ffffff;
  height: 85%;
  width: 100%;
  overflow: scroll;
}

.stage-wine-row.admin {
  display: flex;
  height: 48px;
  width: 100%;
}

.stage-wine-image.admin {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 4%;
  img {
    height: 95%;
    min-height: 95%;
    max-width: 90%;
  }
}

.stage-wine-name.admin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 66%;
}

.stage-wine-varietal-vintage.admin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 17%;
}

.stage-wine-qty.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 8%;
}

.stage-counter-field-wrapper.admin {
  height: 100%;
  width: 100%;
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    font-size: 56px;
  }

  input[type=number] {
    height: 100%;
    text-align: center;
  }
}

.stage-counter-field.admin {
  width: 100% !important;
}

.stage-wine-remove-button.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
}
