.api-wines-stage-wrapper.admin {
  height: 30%;
}

.stage-title-wrapper.admin {
  height: 20%;
}
  h1 {
    font-size: 100%;
  }

.stage-wine-row-wrapper.admin {
  height: 100%;
}

.stage-wine-row.admin {
  height: 40px;
}

.stage-wine-image.admin {
  height: 100%;
}

.stage-wine-name.admin {
  height: 100%;
}

.stage-wine-qty.admin {
  height: 100%;
}

.stage-wine-remove-button.admin {
  height: 100%;
}
