.addressBox.shop {
  vertical-align: super;
}
.AddressIcon.shop {
  vertical-align: super;
  overflow: hidden;
  display: inline-block;
  height: 25px;
  text-overflow:ellipsis;
  white-space: nowrap;
}
