.shop-container.shop {
  height: 100%;
  width: 100%;
}

.shop-wrapper.shop {
  @include transition(all, 1.5s, linear, 0s);
}

.blur.shop {
  @include blur( 3px );
}

.footer.shop {
  background-color: $pal-footer-grey;
  margin-top: 20px;
}
