.drawer-container.sidebardrawer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.drawer.sidebardrawer {
  background-color: #f2f5f7 !important;
}

.flex-end.sidebardrawer {
  display: flex;
  justify-content: flex-end;
}
