.home-wrapper.shop {
  height: 1px;
  min-height: 70vh;
  width: 80%;
  margin: 0 auto;
}

.category-wrapper.shop {
  height: 1px;
  min-height: 100%;
}

.featured-span.shop {
  margin-top: 50px;
}

.jumbotron-wrapper.shop {
  margin-top: 50px;
  height: 1px;
  min-height: 200px;
}

.category-wrapper.shop {
  height: 1px;
  min-height: 200px;
  margin-top: 50px;
}
