.home-wrapper.shop {
  height: 1px;
  min-height: 70vh;
  width: 80%;
  margin: 0 auto;
}

.cta.shop {
  margin-top: 10px;
}

.cta-image {
  width: 100%;
  position: absolute;
  bottom: -211px;
}

.featured-span.shop {
  margin-top: 10px;
}

.category-wrapper.shop {
  height: 1px;
  min-height: 200px;
  margin-top: 10px;
}
